<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<div class="center hero-unit">
  <h1>Welcome to the Framgia Blog</h1>

  <h2>
    This is the blog for the
    <a href="http://recruit.framgia.vn/">Framgia Vietnam</a>
    .
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("framgia.png", alt: "Rails"), 'http://recruit.framgia.vn' %>
</html>

